body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    background-color: #f5f5f5;
}

body > .container {
    padding: 60px 15px 0;
}

.footer .list-inline {
    margin-bottom: 0;
}

.photo {
    background-color: #F2F2F2;
    text-align: center;
    color: #D0D0D0;
    border-radius: 10px;
}

.photo > i {
    line-height: 160px;
}

.mb {
    margin-bottom: 30px;
}