<div class="page-header">
    <h2>Añadir pregunta</h2>
</div>

<div class="row">
	<div class="col-lg-6 col-sm-12">
		<form action="/quizes/<%= quiz.id %>?_method=put" method="POST" class="form-horizontal">
			<% include _form.ejs %>
		</form>
	</div>
</div>